.container{
	position: relative;
}
.main{
	position: absolute;
	top: 290px;
	bottom: 0;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background: white;
}
.main .title{
	padding: 0 30px;
	margin: 15px auto 15px;
	height: 75px;
	line-height: 75px;
	font-family: "宋体";
	font-size: 24px;
	text-align: center;
}
.main .title h1{
	position: relative;
	display: inline-block;
}
.main .title img{
	position: absolute;
	display: inline-block;
	height: 75px;
	width: 40px;
	top:0;
	left: -40px;
}
article{
	padding: 0 30px;
}
article p{
	margin-right: 14px;
	margin-bottom: 0.1px;
	margin-left: 14px;
	line-height: 1.75em;
	text-align: justify;
	text-indent: 2em;
}
article span{
	font-family: 微软雅黑, sans-serif;
	font-size: 14px;
	color: #454649;
}